$spBreakPoint: 768px

body
	// デフォルトカラー指定
  // color: #0C1416
	// フォント指定
  // font-family: 'Noto Sans JP', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// デスクトップ時表示タグ
@media screen and (min-width: 769px)
  .sp
    display: none!important
@media screen and (max-width: 768px)
  .pc
    display: none!important
